<strong>Olá, {{ organizer }}</strong>
<br />
<p>Houve uma nova inscrição em um meetup organizado por voçê. Confira alguns detalhes abaixo:</p>
<p>
    <strong>Participante: </strong>{{ user }} <br />
    <strong>Meetup: </strong>{{ title }} <br />
    <strong>Data de realização: </strong>{{ data }} <br />
</p>
